[submodule "ALPRO2_Tri-SetyonoMartyantoro_103112400279"]
	path = 103112400279 TRI SETYONO MARTYANTORO
	url = https://github.com/Trisetyonoooo/ALPRO2_Tri-SetyonoMartyantoro_103112400279
[submodule "ALPRO2_EstetikaAnandaPoetri_103112400272"]
	path = 103112400272 ESTETIKA ANANDA POETRI HARIYANTO
	url = https://github.com/Estetikahariyanto/ALPRO2_EstetikaAnandaPoetri_103112400272
[submodule "Alpro-2_Farrel-Aidan-Setiawan_103112430020"]
	path = 103112430020 FARREL AIDAN SETIAWAN
	url = https://github.com/farrelppp/Alpro-2_Farrel-Aidan-Setiawan_103112430020
[submodule "ALPRO2_RifaCahyaAriby_103112400268"]
	path = 103112400268 RIFA CAHYA ARIBY
	url = https://github.com/RifaCahyaAriby/ALPRO2_RifaCahyaAriby_103112400268
[submodule "Alpro2_HardiekTatendra_103112430005"]
	path = 103112430005 HARDIEK TATENDRA
	url = https://github.com/ecizen/Alpro2_HardiekTatendra_103112430005
[submodule "ALPRO2_KhanifYunanPratama_103112430017"]
	path = 103112430017 KHANIF YUNAN PRATAMA
	url = https://github.com/Khananta/ALPRO2_KhanifYunanPratama_103112430017
[submodule "Alpro2_Cholid-Afiddrus-Wijayanto_103112430012"]
	path = 103112430012 CHOLID AFIDDRUS WIJAYANTO
	url = https://github.com/Afiddrus/Alpro2_Cholid-Afiddrus-Wijayanto_103112430012
[submodule "ALPRO2_Nabella-Rahmatus-Sania_103112430002"]
	path = 103112430002 NABELLA RAHMATUS SANIA
	url = https://github.com/nabellaar/ALPRO2_Nabella-Rahmatus-Sania_103112430002
[submodule "ALPRO2_AbyanRahmanAlFariz_103112430021"]
	path = 103112430021 ABYAN RAHMAN AL FARIZ
	url = https://github.com/Rarizz/ALPRO2_AbyanRahmanAlFariz_103112430021
[submodule "Laprak_alpro_season_2"]
	path = 103112430011 WAHYU WIDODO
	url = https://github.com/wahyuwidd/Laprak_alpro_season_2
[submodule "ALPRO2_InayahNajmi_103112430013"]
	path = 103112430013 INAYAH NAJMI ZAKIA
	url = https://github.com/inayahnajmi/ALPRO2_InayahNajmi_103112430013
[submodule "Alpro2_VincentiusPasticaGunawan_103112430014"]
	path = 103112430014 VINCENTIUS PASTICA GUNAWAN
	url = https://github.com/VincentiusPG/Alpro2_VincentiusPasticaGunawan_103112430014
[submodule "Alpro-2_Satria-adhi-sadarma_103112400273"]
	path = 103112400273 SATRIA ADHI SADARMA
	url = https://github.com/satria833/Alpro-2_Satria-adhi-sadarma_103112400273
[submodule "ALPRO2_Alvin-Aldino-Rahmatullah_103112430283"]
	path = 103112430283 ALVIN ALDINO RAHMATULLAH
	url = https://github.com/alvin-aldino-rahmatullah/ALPRO2_Alvin-Aldino-Rahmatullah_103112430283
[submodule "Alpro2_RizkiAgungPrasetya_103112400263"]
	path = 103112400263 RIZKI AGUNG PRASETYA
	url = https://github.com/RizkiAgungPrasetya/Alpro2_RizkiAgungPrasetya_103112400263
[submodule "ALPRO_TrisnaKusumaRamadhany_103112400277"]
	path = 103112400277 TRISNA KUSUMA RAMADHANY
	url = https://github.com/trisnakusumaramadhany/ALPRO_TrisnaKusumaRamadhany_103112400277
[submodule "ALPRO_FakhriNaabilPrasetyo_103112400274"]
	path = 103112400274 FAKHRI NAABIL PRASETYO
	url = https://github.com/FakhriNaabilPrasetyo/ALPRO_FakhriNaabilPrasetyo_103112400274
[submodule "ALPRO_Gustaf_Adiyatma_Alfito_103112400266"]
	path = 103112400266 GUSTAF ADIYATMA ALFITO
	url = https://github.com/gustafadiyatma/ALPRO_Gustaf_Adiyatma_Alfito_103112400266
[submodule "Alpro2_JulianSaputra_103112400260"]
	path = 103112400260 JULIAN SAPUTRA
	url = https://github.com/Julianasputra/Alpro2_JulianSaputra_103112400260
[submodule "ALPRO2_Azzahra-Farelika-Esti-Ning-Tyas_103112430023"]
	path = 103112430023 AZZAHRA FARELIKA ESTI NING TYAS
	url = https://github.com/azzahrafarelikaa/ALPRO2_Azzahra-Farelika-Esti-Ning-Tyas_103112430023
[submodule "Alpro2_NandaBagusPriambodo"]
	path = 103112430007 NANDA BAGUS PRIAMBODO
	url = https://github.com/ItsmeNanda/Alpro2_NandaBagusPriambodo
[submodule "ALPRO2_M_Rafi_Maulana_F_103112400264"]
	path = 103112400264 M. RAFI MAULANA FADHLURRAHMAN
	url = https://github.com/Rafimaulana737/ALPRO2_M_Rafi_Maulana_F_103112400264
[submodule "Alpro2_ChilyaFN_103112430010"]
	path = 103112430010 CHILYA FADHILATIN NISA
	url = https://github.com/Chilyanisa/Alpro2_ChilyaFN_103112430010
[submodule "ALPRO2_SyahlaKheisyaMayastria_103112430018"]
	path = 103112430018 SYAHLA KHEISYA MAYASTRIA
	url = https://github.com/syahlaa14/ALPRO2_SyahlaKheisyaMayastria_103112430018
[submodule "ALPRO2"]
	path = 103112430003 RAHMAT AHDAF ALBARIZA
	url = https://github.com/RahmatAhdaf/ALPRO2
[submodule "ALPRO2_Adrian"]
	path = 103112430009 ADRIAN ERNEST TROY RAWUN
	url = https://github.com/adrianernest/ALPRO2
[submodule "Alpro2_Gien_103112430008"]
	path = 103112430008 GIEN DARREL ADLI
	url = https://github.com/giendarreladl/Alpro2_Gien_103112430008
[submodule "ALPRO2_FaizAz-ZahraWinantoPutra_103112430001"]
	path = 103112430001 FAIZ AZ-ZAHRA WINANTO PUTRA
	url = https://github.com/Xoltvez/ALPRO2_FaizAz-ZahraWinantoPutra_103112430001
[submodule "ALPRO2_Balawan_Satria_103112430004"]
	path = 103112430004 BALAWAN SATRIA LHAKSANA PUTRA MAZZIMO
	url = https://github.com/Ibannng/ALPRO2_Balawan_Satria_103112430004
[submodule "ALPRO2_Hilmi_Ramadani_103112430016"]
	path = 103112430016 HILMI HAKIM RAMADANI
	url = https://github.com/hilmiramadani/ALPRO2_Hilmi_Ramadani_103112430016
[submodule "ALPRO2_Nafila-Setyani_103112430019"]
	path = 103112430019 NAFILA SETYANI
	url = https://github.com/Nafila05/ALPRO2_Nafila-Setyani_103112430019
[submodule "Alpro2_ZidaneAjiNoegroho_103112430006"]
	path = 103112430006 ZIDANE AJI NOEGROHO
	url = https://github.com/ZidaneAji/Alpro2_ZidaneAjiNoegroho_103112430006
[submodule "ALPRO2_MuhammadHaidarAmanullah_103112400262"]
	path = 103112400262 MUHAMMAD HAIDAR AMANULLAH
	url = https://github.com/mhamanullah06/ALPRO2_MuhammadHaidarAmanullah_103112400262
[submodule "ALPRO_2_SHAFA_FAREL_AZKA_103112400259"]
	path = 103112400259 SHAFA FAREL AZKA
	url = https://github.com/ShafaFarel/ALPRO_2_SHAFA_FAREL_AZKA_103112400259
[submodule "Alpro2_hammamtiharananda_103112400276"]
	path = 103112400276 HAMMAM TIHAR ANANDA
	url = https://github.com/Hammamtiharananda/Alpro2_hammamtiharananda_103112400276
[submodule "ALPRO2_AnisaKeyzaHK_2211102210"]
	path = 2211102210 ANISA KEYZA HUSNUL KHATIMAH
	url = https://github.com/Cayenakey/ALPRO2_AnisaKeyzaHK_2211102210
[submodule "ALPRO2-Reza_Sahrul_Nuramdani-103112400265"]
	path = 103112400265 REZA SAHRUL NURAMDANI
	url = https://github.com/SolTTeucas/ALPRO2-Reza_Sahrul_Nuramdani-103112400265
[submodule "103112430015 FAIQ JAGADHITA HARDIANA"]
	path = 103112430015 FAIQ JAGADHITA HARDIANA
	url = https://github.com/faiqjagadhita/ALPRO2_FaiqJagadhitaHardiana_103112430015
[submodule "103112400276 HAMMAM TIHAR ANANDA 2"]
	path = 103112400276 HAMMAM TIHAR ANANDA 2
	url = https://github.com/Hammatiharanandaa/Alpro2_103112400276
[submodule "103112400274 FAKHRI NAABIL PRASETYO 2"]
	path = 103112400274 FAKHRI NAABIL PRASETYO 2
	url = https://github.com/FakhriNaabilPrasetyo/Alpro2_FakhriNaabilPrasetyo_103112400274
[submodule "103112400275 Dafa Awal Wahyu Pambudi 2"]
	path = 103112400275 Dafa Awal Wahyu Pambudi 2
	url = https://github.com/Hollowwwx/ALPRO2_Dafa_Awal_Wahyu_Pambudi_103112400275
